* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.banner {
    height: 100vh;
    width: 100%;
    background: linear-gradient(rgb(0,0,0,0.75), rgba(0,0,0,0.75)), url(dream-home.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/* Navigation Bar  */
.navbar {
    width: 85%;
    margin: 20px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 125px;
    cursor: pointer;
}

.navbar ul {
    border: 2px solid #009680;
    padding: 20px;
}

.navbar ul li {
    list-style: none;
    margin: 0 20px;
    display: inline-block;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009680;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

@media screen and (max-width: 1000px) {
    .content {
       margin-top: 10%;
    }
    .navbar ul li {
        display: block;
        padding-bottom: 10px;
    }

    button:hover span {
        width: 0;
    }

    
}

/* Main Content  */
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
}

.content h1 {
    font-size: 75px;
    margin-top: 80px;
    padding-bottom: 5%;
}

.content p {
    line-height: 25px;
    font-weight: bold;
    margin: 0 20px;
    padding-bottom: 2%;
}

button {
    width: 200px;
    margin: 20px 10px;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid #009680;
    background: transparent;
    font-weight: bold;
    position: relative;
    cursor: pointer;
    color: #fff;
    overflow: hidden;
}

span {
    height: 100%;
    width: 0;
    left: 0;
    bottom: 0;
    background: #009860;
    position: absolute;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}